<style type = "text/css">

a.larger:link {
  font-size: 35px;
  position: fixed;
  top: 22%;
  left: 36.2%;
  text-decoration: none;
}
a.larger:visited{color: #fff; background: #fff; font-weight: bold;}
a.larger:active {color: #fff; background: #fff; font-weight: bold;}
a.larger:hover {color: #000; background: none; font-weight: bolder;}

</style>

      <p>Already</p>
      <a class = "larger" href="/urls">Littlst</a>




