<style type = "text/css">

  a.larger:link {
    font-size: 300px;
    position: fixed;
    top: -190px;
    right: -400px;
    text-decoration: none;
  }

  a.larger:visited {
    color: #fff; background: #fff; font-weight: bold;
  }

  a.larger:active {
    color: #fff; background: #fff; font-weight: bold;
  }

  a.larger:hover {
    color: #faf9e5 ; background: none; font-weight: bolder;
  }

  p {
    color: #fff;
    position: fixed;
    bottom: 180px;
    right: 190px;
  }
</style>

<p>Not Found Make one</p>

<a class = "larger" href="/urls/new">404</a>




