<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

    <body>

      <p>Littlr URL : <b><%= shortURL %></b></p>

    <form action=/urls/<%= shortURL%>?_method=PUT method="POST">
      <input id="changedURL" type="text" name="changedURL" value = <%= longURL %> style="width: 300px">
      <button type="submit"> Change </button>
    </form>


    </body>
</html>