<!DOCTYPE html>
<html lang="en">

<style type = "text/css">

  body {
    background-color: #fff;
    background-image: url("http://orig09.deviantart.net/2e43/f/2013/280/e/c/gengar_decal_by_mute_owl-d6pkvmf.png");
    background-position: 300px -80px;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
  }

</style>

  <% include ./partials/_header4 %>
    <body>
    </body>
</html>


